*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 1201px){
    .block{
        float: left;
        width: 30%;
    }
}

@media (max-width: 1200px) and (min-width: 601px){
    .block:first-child{
        float: left;
        width: 30%;
    }
}

@media (max-width: 600px){
    .cont{
        display: inline-block;
    }
}